<nav class="aside-bar">   
    <a class="brand-name" href="">N</a>
    <ul class="menu-items">
        <li class="menu-item">
            <mat-icon>search</mat-icon>
        </li>
        <li class="menu-item">
            <mat-icon>business</mat-icon>
        </li>
        <li class="menu-item">
            <mat-icon>group</mat-icon>
        </li>
        <li class="menu-item">
            <mat-icon>person</mat-icon>
        </li>
        <li class="menu-item"> 
            <mat-icon>settings</mat-icon>                
        </li>
        <li class="menu-item">
            <mat-icon>exit_to_app</mat-icon>                
        </li>  
    </ul>
</nav>