<h1>Nixtla</h1>
<h5 class="text-center">Administrador</h5> 
<div class="container">
    <form>
        <mat-form-field>
                <input 
                    matInput
                    type="email"
                    placeholder="Ingresa tu correo electrónico">
        </mat-form-field> 
        <mat-form-field>
                <input 
                    matInput
                    type="password"
                    placeholder="Ingresa tu contraseña">
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit">                              
            Acceder a mi cuenta
        </button>
    </form>
</div>      
