<div class="container centered-form">
    <div class="row">
        <div class="col-md-4 offset-md-4 col-sm-4 offset-sm-4 col-xs-12 col-lg-4 offset-lg-4 bordered-form">
            <h1>Nixtla</h1>
            <h5 class="text-center">Administrador</h5> 
            <form>
                <mat-form-field class="full-width">
                        <input 
                            matInput
                            type="email"
                            placeholder="Correo electrónico">
                </mat-form-field> 
                <mat-form-field class="full-width">
                        <input   
                            matInput
                            type="password"
                            placeholder="Contraseña">
                            <button mat-button matSuffix mat-icon-button aria-label="Clear">
                                <mat-icon>visibility off</mat-icon>
                            </button>
                </mat-form-field>
                <button class="btn-login" mat-raised-button color="blue" type="submit">                              
                        ENTRAR
                </button>        
            </form>
        </div>
    </div>
</div>      
