<div class="container centered-form">
    <div class="row">
        <div class="col-md-4 offset-md-4 col-sm-4 offset-sm-4 col-xs-12 col-lg-4 offset-lg-4 bordered-form">
            <h1>Nixtla</h1>
            <h5 class="text-center">Administrador</h5> 
            <form (ngSubmit)="loginToAccountWithEmailAndPassword()" [formGroup]="loginForm">
                <mat-form-field class="full-width">
                        <input 
                            matInput
                            type="email"
                            placeholder="Correo electrónico"
                            formControlName="email">
                        <mat-hint>
                                Ingresa un correo electrónico
                        </mat-hint>
                </mat-form-field> 
                <mat-form-field class="full-width">
                        <input   
                            matInput
                            [type]="changeType"
                            placeholder="Contraseña"
                            formControlName="password">
                            <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="togglePasswordDisplay()">
                                <mat-icon>{{ visibilityIcon }}</mat-icon>
                            </button>
                            <mat-hint>
                                Ingresa tu contraseña
                            </mat-hint>
                </mat-form-field>
                <button [disabled]="loginForm.valid" class="btn-login" mat-raised-button type="submit">                              
                        ENTRAR
                </button>        
            </form>
        </div>
    </div>
</div>      
