<app-navigation></app-navigation>
<div class="home-container">
  <div class="container-fluid" *ngIf="supervisor">
      <div class="row">        
        <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4">
            <img class="supervisor-avatar" src="{{ supervisor.image }}" alt="{{ supervisor.name }}">                  
            <p>
               <strong> <mat-icon>person</mat-icon>  Información del supervisor</strong>                       
            </p>
            <hr>
            <p> <strong>Nombre:</strong> {{ supervisor.name }} </p> 
            <p> <strong>Fecha de Nacimiento:</strong> {{ supervisor.birthDate | date:'dd/MM/yyyy'  }} </p>             
            <p> <strong>Curp: </strong> {{ supervisor.curp }}     <strong>RFC:</strong> {{ supervisor.rfc }} </p>                         
            <p> <strong>Email:</strong> {{ supervisor.email }} </p>             
            <p> <strong>Ubicación:</strong> {{ supervisor.city }} , {{ supervisor.state }} </p>                                                            
            <p> <strong>Dirección:</strong> {{ supervisor.address }} , {{ supervisor.postalCode }} </p>                                                                                                                               
            <p>           
                <strong>Salario:</strong> {{ supervisor.salary | currency:'MXN':'.2' }} 
                <br>                        
                <strong>Fecha de inicio de contrato:</strong> {{ supervisor.contractDateBegin | date:'dd/MM/yyyy'   }}  
                <br>                        
                <strong>Fecha de fin de contrato:</strong> {{ supervisor.contractDateExp | date:'dd/MM/yyyy'   }}                         
                </p>                          
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12 col-lg-8">
            <mat-tab-group class="demo-tab-group">
                <mat-tab label="Calendario">
                  <ng-template mat-tab-label>
                    <mat-icon>perm_contact_calendar</mat-icon>
                  </ng-template>
                  <div class="demo-tab-content">                 
                  </div>
                </mat-tab>
                <mat-tab label="Agregar Evento">
                  <ng-template mat-tab-label>
                    <mat-icon>edit</mat-icon>
                  </ng-template>
                  <div class="demo-tab-content">
                  </div>  
                </mat-tab>
                <mat-tab label="Eliminar">
                    <ng-template mat-tab-label>
                      <mat-icon>delete</mat-icon>
                    </ng-template>
                    <div class="demo-tab-content">
                    </div>  
                  </mat-tab>
             </mat-tab-group>
        </div>
      </div>
  </div>
</div>