<app-navigation></app-navigation>
<div class="home-container">
  <h1>Crear una nueva sucursal</h1>
  <div class="row">
    <div class="col-md-8 col-xs-12 col-sm-8 col-lg-8">
        <form [formGroup]="branchForm">
            <mat-form-field class="full-width">
                <input 
                    matInput
                    type="text"
                    placeholder="Nombre de sucursal"
                    required
                    formControlName="nameFormControl">
                    <mat-hint>
                          Ingresa el nombre de la sucursal
                   </mat-hint>
                    <mat-error *ngIf="branchForm.controls.nameFormControl.hasError('required')">
                          Ingresa un nombre
                    </mat-error>
            </mat-form-field>
            <table class="full-width" cellspacing="0"> 
              <tr>
                <td>
                    <mat-form-field class="full-width">
                        <input 
                            matInput
                            type="text"
                            placeholder="Ciudad"
                            required
                            formControlName="cityFormControl">
                            <mat-hint>
                                  Ingresa una ciudad o municipio
                          </mat-hint>
                            <mat-error *ngIf="branchForm.controls.cityFormControl.hasError('required')">
                                  Ingresa un nombre
                            </mat-error>
                    </mat-form-field>   
                </td>
                <td>
                    <mat-form-field class="full-width">
                        <input 
                            matInput
                            type="text"
                            placeholder="Estado"
                            required
                            formControlName="stateFormControl">
                            <mat-hint>
                                  Un estado de la república mexicana 
                          </mat-hint>
                            <mat-error *ngIf="branchForm.controls.stateFormControl.hasError('required')">
                                  Ingresa el nombre del estado
                            </mat-error>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="full-width">
                        <input 
                            matInput
                            type="text"
                            placeholder="Codigo Postal"
                            required
                            maxlength="5"
                            formControlName="postalCodeFormControl">
                            <mat-hint align="end">5</mat-hint>
                            <mat-error *ngIf="branchForm.controls.postalCodeFormControl.hasError('required')">
                                  Ingresa el código postal
                            </mat-error>
                 
                    </mat-form-field>
                </td>
              </tr>
            </table>
            <table class="full-width" cellspacing="0"> 
              <tr>
                <td>
                    <mat-form-field class="full-width">
                        <input 
                            matInput
                            type="text"
                            placeholder="Dirección 1"
                            required
                            formControlName="address1FormControl">
                            <mat-hint>
                                  Delegación , Colonia o Vía
                            </mat-hint>
                            <mat-error *ngIf="branchForm.controls.nameFormControl.hasError('required')">
                                  Ingresa una dirección
                            </mat-error>
                    </mat-form-field>   
                </td>
                <td>
                    <mat-form-field class="full-width">
                        <input 
                            matInput
                            type="text"
                            placeholder="Dirección 2"
                            formControlName="address2FormControl">
                            <mat-hint>
                                  Número Exterior, Interior, indicaciones especificas
                          </mat-hint>
                    </mat-form-field> 
                </td>  
              <td>
            </tr>
            <tr>  
             <td>          
                <mat-form-field class="full-width">
                    <input 
                        matInput
                        type="text"
                        required
                        maxlength="10"
                        placeholder="Telefono de contacto"
                        formControlName="contactFormControl">
                        <mat-hint align="end">10</mat-hint>
                </mat-form-field>
             </td>
             <td>
                <mat-form-field class="full-width">
                    <input 
                        matInput
                        type="text"
                        required
                        placeholder="Email de contacto"
                        formControlName="contactEmailFormControl">
                        <mat-error *ngIf="branchForm.controls.contactEmailFormControl.hasError('required')">
                            Ingresa un correo electrónico
                        </mat-error>
                        <mat-error *ngIf="branchForm.controls.contactEmailFormControl.hasError('email') && !branchForm.controls.contactEmailFormControl.hasError('required')">
                            Ingresa un correo válido
                      </mat-error>
                </mat-form-field> 
                
             </td>
            </tr>
          </table>
          <agm-map [latitude]="lat" [longitude]="lng"></agm-map>
          <button [disabled]="!branchForm.valid" mat-raised-button type="submit" class="btn-login">CREAR SUCURSAL</button>          
        </form> 
    </div>
  </div>
</div>