<app-navigation></app-navigation>
<div  class="home-container">
  <div *ngIf="branch" class="container-fluid">
    <div class="row">        
      <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4">
          <img class="branch-avatar" src="{{ branch.image }}" alt="{{ branch.name }}">                  
          <p>
             <strong> <mat-icon>person</mat-icon>  Información de la sucursal </strong>                       
          </p>
          <hr>
          <p> <strong>Nombre:</strong> {{ branch.name }} </p> 
          <p> <strong>Email:</strong> {{ branch.contactEmail }} </p>             
          <p> <strong>Ubicación:</strong> {{ branch.city }} , {{ branch.state }} </p>                                                            
          <p> <strong>Dirección:</strong> {{ branch.address1 }} , {{ branch.address2 }} {{ branch.postalCode }}</p>                                                                                                                                                        
      </div>
      <div class="col-md-8 col-sm-8 col-xs-12 col-lg-8">
          <mat-tab-group class="demo-tab-group">
              <mat-tab label="Dias feriados">
                  <ng-template mat-tab-label>
                    <mat-icon>perm_contact_calendar</mat-icon>
                  </ng-template>
                  <div class="demo-tab-content">
                    <form [formGroup]="branchDayOffForm" 
                          class="full-width" style="display:flex;"
                          (ngSubmit)="addNewDayOf()">
                        <mat-form-field  style="width: 90%">
                            <input   
                                matInput 
                                [matDatepicker]="picker" 
                                placeholder="Fecha del día feriado"
                                formControlName="dayOffDateFormControl"
                                disabled>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker  #picker disabled="false"></mat-datepicker>
                         </mat-form-field>
                         <button  [disabled]="!branchDayOffForm.valid" type="submit" class="add-button" mat-icon-button color="primary">
                            <mat-icon aria-label="button">
                              add
                            </mat-icon>
                          </button>
                    </form>
                    <mat-card *ngFor="let dayOff of daysOff">
                        <mat-icon>calendar_today</mat-icon>   <span style="margin-left:15px; margin-top:-20px;">{{ dayOff.dayOffDate | date:'longDate' }}</span>
                        <button (click)="deleteDayOff(dayOff)" style="float:right; position: relative;" mat-icon-button color="warn">
                          <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
                        </button>
                    </mat-card>
                  </div>  
              </mat-tab>
              <mat-tab label="Editar">
                <ng-template mat-tab-label>
                  <mat-icon>edit</mat-icon>
                </ng-template>
                <div class="demo-tab-content">
                  <app-branch-form [branch-data]="branch"></app-branch-form>
                </div>  
              </mat-tab>
              <mat-tab label="Eliminar">
                  <ng-template mat-tab-label>
                    <mat-icon>delete</mat-icon>
                  </ng-template>
                  <div class="demo-tab-content">
                  </div>  
              </mat-tab> 
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>