<app-navigation></app-navigation>
<div class="home-container">
  <h1>Crear un supervisor</h1>
  <form [formGroup]="registrateSupervisorForm" (ngSubmit)="registerAccountWithEmailAndPassword()">
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6">
        <mat-form-field class="full-width">
          <input 
              matInput
              type="text"
              placeholder="Nombre"
              formControlName="nameFormControl"
              required
              autocomplete="off">
            <mat-hint>
                    Ingresa tu nombre completo
            </mat-hint>
            <mat-error *ngIf="registrateSupervisorForm.controls.nameFormControl.hasError('required')">
                    Ingresa un nombre
            </mat-error>
        </mat-form-field> 
        <mat-form-field class="full-width">
                  <input 
                      matInput
                      type="email"
                      placeholder="Correo electrónico"
                      required
                      formControlName="emailFormControl">
                      <mat-hint>
                            Ingresa un correo electrónico
                    </mat-hint>
                      <mat-error *ngIf="registrateSupervisorForm.controls.emailFormControl.hasError('email') && !registrateSupervisorForm.controls.emailFormControl.hasError('required')">
                            Ingresa un correo válido
                      </mat-error>
                      <mat-error *ngIf="registrateSupervisorForm.controls.emailFormControl.hasError('required')">
                            Ingresa un correo electrónico
                    </mat-error>
          </mat-form-field>                    
          <table class="full-width" cellspacing="0"> 
            <tr>
                  <td>
                      <mat-form-field class="full-width">
                          <input 
                              matInput
                              type="text"
                              placeholder="Ciudad"
                              required
                              formControlName="cityFormControl">
                              <mat-hint>
                                  Ingresa una ciudad o municipio
                          </mat-hint>
                              <mat-error *ngIf="registrateSupervisorForm.controls.cityFormControl.hasError('required')">
                                  Ingresa un nombre
                              </mat-error>
                      </mat-form-field>   
                  </td>
                  <td>
                      <mat-form-field class="full-width">
                          <mat-select  required placeholder="Estado" formControlName="stateFormControl">
                              <mat-optgroup *ngFor="let group of stateGroups" [label]="group.name">
                                  <mat-option *ngFor="let state of group.states" [value]="state.value">
                                          {{ state.value }}
                                  </mat-option>
                              </mat-optgroup>
                              </mat-select>
                              <mat-error *ngIf="registrateSupervisorForm.controls.stateFormControl.hasError('required')">
                                  Selecciona un estado
                              </mat-error>
                      </mat-form-field>
                  </td>
                  <td>
                      <mat-form-field class="full-width">
                          <input 
                              matInput
                              type="text"
                              placeholder="Codigo Postal"
                              required
                              minlength="5"
                              maxlength="5"                                    
                              formControlName="postalCodeFormControl">
                              <mat-hint align="end">5</mat-hint>
                              <mat-error *ngIf="registrateSupervisorForm.controls.postalCodeFormControl.hasError('required')">
                                  Ingresa el código postal
                              </mat-error>
                              <mat-error *ngIf="registrateSupervisorForm.controls.postalCodeFormControl.hasError('minlength')">
                                  Ingresa 5 dígitos
                              </mat-error>
                      </mat-form-field>
                  </td>
              </tr>
           </table>
           <mat-form-field class="full-width">
              <input 
                  matInput
                  type="text"
                  placeholder="Dirección"
                  required
                  formControlName="addressFormControl">
                  <mat-hint>
                      Delegación , Colonia o Vía, Calle + No.Exterior e Interior
                  </mat-hint>
                  <mat-error *ngIf="registrateSupervisorForm.controls.addressFormControl.hasError('required')">
                      Ingresa una dirección
                  </mat-error>
          </mat-form-field>  
          <table class="full-width">
            <tr>
              <td>
                  <mat-form-field class="full-width">
                      <input 
                          matInput
                          type="text"
                          placeholder="CURP"
                          required
                          formControlName="curpFormControl">
                          <mat-hint>
                              Clave Única de Registro de Población (CURP)
                          </mat-hint>
                          <mat-error *ngIf="registrateSupervisorForm.controls.curpFormControl.hasError('required')">
                              Ingresa tu curp
                          </mat-error>
                  </mat-form-field> 
              </td>
              <td>
                  <mat-form-field class="full-width">
                      <input 
                          matInput
                          type="text"
                          placeholder="RFC"
                          required
                          formControlName="rfcFormControl">
                          <mat-hint>
                              Registro Federal del Contribuyente (Homoclave)
                          </mat-hint>
                          <mat-error *ngIf="registrateSupervisorForm.controls.rfcFormControl.hasError('required')">
                              Ingresa tu RFC
                          </mat-error>
                   </mat-form-field> 
              </td>
            </tr>
          </table>
          <mat-form-field class="full-width">
              <input 
                  matInput
                  type="text"
                  placeholder="NSS"
                  required
                  formControlName="nssFormControl">
                  <mat-hint>
                     Número de seguridad social
                  </mat-hint>
                  <mat-error *ngIf="registrateSupervisorForm.controls.nssFormControl.hasError('required')">
                      Ingresa tu NSS
                  </mat-error>
           </mat-form-field>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6"></div>
      </div>
      <button [disabled]="!registrateSupervisorForm.valid" mat-raised-button type="submit" class="btn-login">
          <span>  CREAR SUPERVISOR </span>
      </button> 
  </form>  
</div>