<app-navigation></app-navigation>
<app-floating-button [icon]="'group_add'" [route]="'new-employee'" [tip]="'Nuevo Supervisor'"></app-floating-button>
<div class="home-container">
  <h1>Supervisores</h1>
  <div class="row">
    <div class="example-container mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="position">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let supervisor"> {{ supervisor.name }} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
</div>