<app-navigation></app-navigation>
<app-floating-button [icon]="'group_add'" [route]="'new-employee'" [tip]="'Nuevo Supervisor'"></app-floating-button>
<div class="home-container">
  <h1>Supervisores</h1>
  <div class="row">
      <div *ngFor="let supervisor of supervisors | async" class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="..." alt="...">
          <div class="caption">
            <h3>{{ supervisor.name}}</h3>
            <p>{{ supervisor.email }}</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>
    </div>
</div>