<nav class="aside-bar">   
  <a class="brand-name" href="/">N</a>
  <ul class="menu-items">
      <li class="menu-item" matTooltip="Buscar" matTooltipPosition="after">
          <a routerLink="/search">
               <mat-icon>search</mat-icon>                
          </a>
      </li>
      <li class="menu-item" matTooltip="Sucursales" matTooltipPosition="after">
          <a routerLink="/register">
              <mat-icon>business</mat-icon>                
          </a>
      </li>
      <li class="menu-item" matTooltip="Supervisores" matTooltipPosition="after">
          <a routerLink="/home">
              <mat-icon>group</mat-icon>                
          </a>
      </li>
      <li class="menu-item" matTooltip="Promotores" matTooltipPosition="after">
          <a routerLink="/home">
              <mat-icon>person</mat-icon>                
          </a>
      </li>
      <li class="menu-item" matTooltip="Configuración" matTooltipPosition="after"> 
          <a routerLink="/home">
              <mat-icon>settings</mat-icon>                
          </a>
      </li>
      <li (click)="logout()" class="menu-item" matTooltip="Salir de Nixtla" matTooltipPosition="after">
            <mat-icon>exit_to_app</mat-icon>                
      </li>  
  </ul>
</nav>